{% extends "base.html" %}
{% block title %}Produtos{% endblock %}
{% block content %}
<form action="{{ url_for('produto.formProduto') }}" method="POST">
    <h1>Produtos</h1>
    <button type="submit" name="formNovo">Novo Produto</button>
</form>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
            <th scope="col">Foto</th>
            <th scope="col">Valor</th>
        </tr>
    </thead>
    <tbody>
        {% if result %}
        {% for row in result %}
        <tr>
            <th scope="row">{{ row['id'] }}</th>
            <td>{{ row['nome'] }}</td>
            <td>{{ row['descricao'] }}</td>
            <td>
                <img src="data:image;base64,{{ row['foto'] }}" alt="Thumbnail" height="50">
            </td>
            <td>{{ row['valorUnitario'] }}</td>
            <td>
                <button class="btn btn-primary">
                    <i class="fas fa-edit"></i> Editar
                </button>
                <button class="btn btn-danger">
                    <i class="fas fa-trash"></i> Deletar
                </button>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>

{% endblock %}