{% extends "base.html" %}
{% block title %}Cadastrar novo Cliente{% endblock %}
{% block content %}
<form name="formAdicionar" id="formAdicionar" action="{{ url_for('cliente.insert') }}" method="POST">
    <h1>Cliente</h1>
    <div class="form-group">
        <label for="nome">Nome*</label>
        <input type="text" name="nome" id="nome" value="" placeholder="Nome" maxlength="100" autofocus required>
    </div>
    <div class="form-group">
        <label for="cpfInput">CPF*</label>
        <input type="text" name="cpf" id="cpfInput" value="" placeholder="CPF" maxlength="15" required>
    </div>
    <div class="form-group">
        <label for="telefone">Telefone*</label>
        <input type="tel" name="telefone" id="telefone" value="" placeholder="(XX) XXXX-XXXX" maxlength="15" required>
    </div>
    <div class="form-group">
        <label for="compraFiado">Compra fiado</label>
        <select name="compraFiado" id="compraFiado" aria-label="Compra Fiado">
            <option value="0">Não</option>
            <option value="1">Sim</option>
        </select>
    </div>
    <div class="form-group">
        <label for="diaFiado">Dia fiado</label>
        <select name="diaFiado" id="diaFiado" aria-label="Dia Fiado">
            <option value="0">Segunda-feira</option>
            <option value="1">Terça-feira</option>
            <option value="2">Quarta-feira</option>
            <option value="3">Quinta-feira</option>
            <option value="4">Sexta-feira</option>
            <option value="5">Sábado</option>
        </select>
    </div>
    <div class="form-group">
        <label for="senha">Senha*</label>
        <input type="password" name="senha" id="senha" value="" placeholder="Senha" maxlength="25" required>
    </div>
    <div class="form-group">
        <label for="resenha">Confirmar Senha*</label>
        <input type="password" name="resenha" id="resenha" value="" placeholder="Confirmar senha" maxlength="25" required>
    </div>
    <div class="center-button">
        <button type="submit" name="salvaUsuarioDB" id="salvaUsuarioDB" class="btn btn-primary"><i
                class="fas fa-save"></i> Salvar</button>
    </div>
</form>
<script>
    // Get the input element
    const cpfInput = document.getElementById('cpfInput');

    // Add an input event listener to handle the mask
    cpfInput.addEventListener('input', function () {
        // Remove any non-digit characters
        const cleanedValue = this.value.replace(/\D/g, '');

        // Check if the cleaned value is empty or too long
        if (cleanedValue.length === 0) {
            this.value = ''; // Clear the input
        } else if (cleanedValue.length <= 3) {
            this.value = cleanedValue; // Maintain the first 3 digits
        } else if (cleanedValue.length <= 6) {
            // Apply the mask XXX.XXX
            this.value = `${cleanedValue.slice(0, 3)}.${cleanedValue.slice(3)}`;
        } else if (cleanedValue.length <= 9) {
            // Apply the mask XXX.XXX.XXX
            this.value = `${cleanedValue.slice(0, 3)}.${cleanedValue.slice(3, 6)}.${cleanedValue.slice(6)}`;
        } else {
            // Apply the mask XXX.XXX.XXX-XX
            this.value = `${cleanedValue.slice(0, 3)}.${cleanedValue.slice(3, 6)}.${cleanedValue.slice(6, 9)}-${cleanedValue.slice(9, 11)}`;
        }
    });

    $(document).ready(function () {
        // Apply the Inputmask with the Brazilian telephone mask
        $('#telefone').mask('(99) 9999-9999Z', {translation:  {'Z': {pattern: /[0-9]/, optional: true}}});
    });

</script>

{% endblock %}