{% extends "base.html" %}
{% block title %}Funcionário{% endblock %}

{# ajusta as variáveis conforme novo ou edit #}
{% set id = result[0].id if result else '0' %}
{% set nome = result[0].nome if result else '' %}
{% set matricula = result[0].matricula if result else '' %}
{% set cpf = result[0].cpf if result else '' %}
{% set telefone = result[0].telefone if result else '' %}
{% set grupo = result[0].grupo if result else '' %}
{% set senha = result[0].senha if result else '' %}

{% block content %}
<form name="{{ 'formEditar' if result else 'formAdicionar' }}" id="{{ 'formEditar' if result else 'formAdicionar' }}"
    action="{{ url_for('funcionario.edit') if result else url_for('funcionario.insert') }}" method="POST">
    <h1>Funcionário - {{ "%s: %s" % ('Editar Registro', id) if result else 'Novo' }}</h1>
    <div class="form-group">
        <label for="id">Código</label>
        <input type="text" name="id" id="id" value="{{ id }}" placeholder="Código" readonly>
    </div>
    <div class="form-group">
        <label for="nome">Nome Funcionário*</label>
        <input type="text" name="nome" id="nome" value="{{ nome }}" placeholder="Nome Funcionário" maxlength="100" autofocus
            required>
    </div>
    <div class="form-group">
        <label for="matricula">Matrícula</label>
        <input type="text" name="matricula" id="matricula" value="{{ matricula }}" placeholder="Matrícula" maxlength="15">
    </div>
    <div class="form-group">
        <label for="cpfInput">CPF*</label>
        <input type="text" name="cpf" id="cpfInput" value="{{ cpf }}" placeholder="CPF" maxlength="15" required>
    </div>
    <div class="form-group">
        <label for="telefone">Telefone*</label>
        <input type="tel" name="telefone" id="telefone" value="{{ telefone }}" placeholder="Telefone" maxlength="15" required>
    </div>
    <div class="form-group">
        <label for="grupo">Grupo*</label>
        <select name="grupo" id="grupo">
            <option value="0" {{ 'selected' if grupo==0 else '' }}>Atendente</option>
            <option value="1" {{ 'selected' if grupo==1 else '' }}>Caixa</option>
            <option value="2" {{ 'selected' if grupo==2 else '' }}>Adm</option>
        </select>
    </div>
    <div class="form-group">
        <label for="senha">Senha*</label>
        <input type="password" name="senha" id="senha" value="{{ senha }}" placeholder="Senha" maxlength="25" required>
    </div>
    <div class="form-group">
        <label for="resenha">Confirmar Senha*</label>
        <input type="password" name="resenha" id="resenha" value="{{ senha }}" placeholder="Confirmar senha" maxlength="25"
            required>
    </div>
    <div class="center-button">
        <button type="submit" name="salvaUsuarioDB" id="salvaUsuarioDB" class="btn btn-primary"><i
                class="fas fa-save"></i> Salvar</button>
    </div>
</form>

<script>
    // Get the input element
    const cpfInput = document.getElementById('cpfInput');

    // Add an input event listener to handle the mask
    cpfInput.addEventListener('input', function () {
        // Remove any non-digit characters
        const cleanedValue = this.value.replace(/\D/g, '');

        // Check if the cleaned value is empty or too long
        if (cleanedValue.length === 0) {
            this.value = ''; // Clear the input
        } else if (cleanedValue.length <= 3) {
            this.value = cleanedValue; // Maintain the first 3 digits
        } else if (cleanedValue.length <= 6) {
            // Apply the mask XXX.XXX
            this.value = `${cleanedValue.slice(0, 3)}.${cleanedValue.slice(3)}`;
        } else if (cleanedValue.length <= 9) {
            // Apply the mask XXX.XXX.XXX
            this.value = `${cleanedValue.slice(0, 3)}.${cleanedValue.slice(3, 6)}.${cleanedValue.slice(6)}`;
        } else {
            // Apply the mask XXX.XXX.XXX-XX
            this.value = `${cleanedValue.slice(0, 3)}.${cleanedValue.slice(3, 6)}.${cleanedValue.slice(6, 9)}-${cleanedValue.slice(9, 11)}`;
        }
    });

    $(document).ready(function () {
        // Apply the Inputmask with the Brazilian telephone mask
        $('#telefone').mask('(99) 9999-9999Z', { translation: { 'Z': { pattern: /[0-9]/, optional: true } } });
    });
</script>


{% endblock %}